<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/folder/Homepage"></ion-back-button>
    </ion-buttons>
    <ion-title>Add Product</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Name</ion-label>
    <ion-input [(ngModel)]="productData.name"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Category</ion-label>
    <ion-select [(ngModel)]="productData.category" okText="Okay" cancelText="Dismiss">
      <ion-select-option *ngFor="let category of categories" [value]="category">{{category.name}}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Price</ion-label>
    <ion-input [(ngModel)]="productData.price"></ion-input>
  </ion-item>

  <ion-item>
    <ion-button (click)="createProduct()">
      <ion-icon size="small" slot="icon-only" name="add"></ion-icon>
      &nbsp;Create Record
    </ion-button>
  </ion-item>
</ion-content>
